@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}
@media (max-width: 400) {
  html {
    font-size: 5px;
  }
}
h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.9em;
}
p,
#copy {
  font-size: 1.6em;
}
small,
img {
  font-size: 1.2em;
}

.flex {
  align-items: stretch;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.my-logo {
  width: 50px;
}

#welcome-section {
  background-image: url(./Logo/JeremiahBogard.gif);
  background-repeat: no-repeat;
  background-size: fit;
  background-position: center;
  height: 100vh;
  text-align: center;
}
#welcome-section h1 {
  display: none;
}

#music {
  background-color: rgb(3, 150, 22);
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

#navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  left: 0;
  min-height: 50px;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
}
#navbar .navLink {
  background-color: transparent;
  border: none;
  border-radius: 10%;
  color: #fff;
  font-size: 2em;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#navbar .navLink::before {
  background-color: #fff2;
  content: "";
  height: 100%;
  inset: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: width 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  width: 0;
}
#navbar .navLink:hover::before {
  width: 100%;
}


.section-divide {
  background-color: #222;
  height: 20px;
  margin: 0;
  padding: 1px 5vw;
}
.section-divide hr {
  border-color: #998200;
  border-width: 2px;
}
.sections {
  background-color: #222;  
  padding: 20px 2%;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}


#about {
  max-height: 250px;
  overflow: scroll;
  text-align: center;
}
#about a {
  color: #fff;
  font-size: 1.6em;
  font-style: italic;
  text-decoration: none;
}
#about a:hover {
  text-decoration: underline;
}


#lang-box {
  margin: auto 5%;
  text-align: center;
}
#lang-box .lang-tile {
  background-color: #333;
  border: solid 1px #ccad00;
  border-radius: 10px;
  flex: 0 0 200px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  width: 200px;
}
#lang-box .lang-tile:hover {
  box-shadow: 0 0 20px #ccad00;
  transform: scale(1.1);
}
.lang-tile img {
  border-radius: 10px 10px 0 0;
  width: 200px;
}
.lang-tile a {
  color: #fff;
  text-decoration: none;
}
.lang-tile a:hover {
  text-decoration: underline;
}


#projects-contain .project-tile {
  background-color: #333;
  border: solid 1px #ccad00;
  border-radius: 10px;
  flex: 0 0 200px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  width: 200px;
}
.project-tile:hover {
  box-shadow: 0 0 20px #ccad00;
  transform: scale(1.1);
}
.project-tile a {
  color: #fff;
  text-decoration: none;
}
.project-tile h2:hover {
  text-decoration: underline;
}
.project-tile img {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 200px;
}
.project-tile p {
  padding: 5px;
  text-align: center;
}


footer {
  background-color: #000;
  line-height: 30px;
  padding: 1px;
  text-align: center;
  width: 100%;
}
iframe {
  width: 400px;
}
@media (max-width: 400) {
  iframe {
    width: 200px;
  }
}
option {
  background-color: #222;
  color: #fff;
}
#copy {
  color: #fffa;
  grid-area: copy;
  padding: 5px 50px;
  text-align: center;
}
footer a {
  color: white;
  margin: 10px;
  position: relative;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
