html {
  scroll-behavior: smooth;
}
body {
  background-image: url(http://i.imgur.com/7Prf6.jpg);
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}


#navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  left: 0;
  min-height: 50px;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
}
#navbar .navLink {
  background-color: transparent;
  border: none;
  border-radius: 10%;
  color: #fff;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#navbar .navLink::before {
  background-color: #fff1;
  content: "";
  height: 100%;
  inset: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: width 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  width: 0;
}
#navbar .navLink:hover::before {
  width: 100%;
}


#welcome-section {
  height: 100vh;
}


@keyframes borderChange {
  0% {
    border-color: #0000;
  }
  25% {
    border-color: #fffd;
  }
  50% {
    border-color: #f00;
  }
  75% {
    border-color: #000;
  }
  100% {
    border-color: #0000;
  }
}
.section-divide {
  background-color: #222;
  height: 20px;
  margin: 0;
  padding: 1px 5vw;
}
.section-divide hr {
  animation: borderChange 25s infinite;
}
.sections {
  background-color: #222;  
  padding: 20px 10%;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}


#lang-box {
  background-color: #0005;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "left lang right";
  grid-template-columns: 25% 50% 25%;
  margin: auto 25%;
  position: relative;
  text-align: center;
}
#lang-box > button {
  background-color: #0001;
  border: none;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  height: 100%;
  outline: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
#lang-box > button:hover {
  background-color: #fff1;
  cursor: pointer;
}
#left-button {
  grid-area: left;
}
#lang-lang {
  color: #fff;
  grid-area: lang;
  padding: 50px 10px;
}
#right-button {
  grid-area: right;
}


#projects-contain {
  align-items: stretch;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project-tile {
  border-radius: 15px;
  height: 200px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 200px;
}
.project-img {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.project-tile:hover .project-img {
  filter: blur(5px);
  transform: scale(1.1);
}
.project-info {
  align-items: center;
  background-color: #0008;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  opacity: 0;
  top: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.project-tile:hover .project-info {
  opacity: 1;
  top: -16px;
}


footer {
  background-color: #000d;
  display: grid;
  grid-template-areas:
    "form form other"
    "copy copy copy";
  grid-template-colomns: 37% 37% auto;
  line-height: 30px;
  text-align: center;
  width: 100%;
}
#contactForm {
  grid-area: form;
}
#other {
  grid-area: other;
}
#copy {
  color: #fffa;
  grid-area: copy;
  padding: 5px 50px;
  text-align: center;
}
footer a {
  color: white;
  position: relative;
  text-decoration: none;
}
footer a::before {
  background-color: #fff;
  content: "";
  height: 3px;
  inset: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  width: 0;
}
footer a:hover::before {
  background-color: #fa0;
  width: 100%;
}
#profile-link {
  font-size: 20px;
}
